---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Toggle from '../components/Toggle.astro';
---

<Layout title="Felix Lindgren Portfolio">
	<Toggle />
	<main>
		<h1><span class="text-gradient">Hello </span>ðŸ‘‹</h1>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/felicksLindgren"
				title="GitHub"
				body="Here you can find my github repositories."
			/>
			<Card
				href="https://ml-app-felickslindgren.vercel.app/"
				title="ml-app"
				body="A web app containing a bunch of different machine learning stuff."
				tags={['ml', 'nextjs', 'vercel']}
			/>
			<Card
				href="https://webrtc-1311e.web.app/"
				title="WebRTC app"
				body="A web app with video chat functionality built with WebRTC."
				tags={['webrtc', 'javascript']}
			/>
			<Card
				href="https://felickslindgren.github.io/disposable-chats"
				title="Disposable chat app"
				body="A web app with group chat functionality built with Socket.io."
				tags={['socket.io', 'javascript']}
			/>
			<Card
				href="https://statify-mauve.vercel.app/"
				title="Statify"
				body="Web application showing your Spotify statistics"
				tags={['spotify', 'nextjs']}
			/>
			<Card
				href="https://react-superchat-81ad0.web.app/"
				title="Chat app"
				body="Web application with text chat functionality, built with firebase ðŸ’¬"
				tags={['firebase', 'react']}
			/>
			<Card
				href="https://felickslindgren.github.io/selfdriving/"
				title="Self-Driving Car"
				body="freeCodeCamp.org course about neural networks and machine learning"
				tags={['javascript', 'ml']}
			/>
			<Card
				href="https://felixpwa.web.app/"
				title="Old portfolio"
				body="Early attempt at portfolio with a bunch of different goodies ðŸª"
				tags={['angular', 'tensorflow']}
			/>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 80ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
